.container-fluid{
  padding-left: 0rem;
  padding-right: 0rem;
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
  min-width: 100vh;
}

section {
  min-height: 100vh -65px;
}

nav {
  margin-left: 5em;
  margin-right: 5em;
}

nav a:hover {
  box-shadow: 0 3px orange;
  text-decoration: none;
  color: orange;
}

@media screen and (max-width: 700px) {
  #nav {
    display: none;
  }
}

.background-image {
  background: url(images/cover.jpg)no-repeat center center fixed;
  background-size: cover;
  background-position: center top;
  width: 100%;
  opacity: 0.9;
  border-bottom: solid 3px rgba(255, 165, 0, 1);
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.name {
  width: 100%;
  color: black;
  font-weight: bold;
  opacity: 0.8;
  padding-top: 3em;
  padding-bottom: 1em;
}

.title {
  width: 100%;
  color: black;
  opacity: 0.8;
  padding-bottom: 1em;
}

#libutton {
  height: auto;
  max-width: 100%;
  margin: 1em;
}

#libutton:hover {
  background-color: orange;
  border-radius: 100%;
  opacity: 0.8;
}

#ghbutton {
  height: auto;
  max-width: 100%;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

#ghbutton:hover {
  background-color: orange;
  border-radius: 100%;
  opacity: 0.8;
}

#cvbtn {
  background-color: black;
  color: white;
  border-radius:1em;
  padding: 6px 7px;
  opacity: 0.5;
  border: 1px solid gray;
  margin-top: 2em;
  margin-bottom: 2em;
}

#cvbtn:hover {
  background-color: orange;
  border: 1px solid orange;
  color: black;
  font-weight: bold;
  opacity: 1;
}

.background1 {
  background-color: lightgray;
  border-bottom: solid 3px rgba(255, 165, 0, 0.5);
  width: 100%;
  height: 450px;
  padding: 20px 60px 20px 60px;
  color: black;
}

.background2 {
  background-color: white;
  border-bottom: solid 3px rgba(255, 165, 0, 0.5);
  width: 100%;
  height: 450px;
  padding: 20px 60px 20px 60px;
  color: black;
}

#myface {
  margin-top: 2rem;
  margin-bottom: 1rem;
  border: 3px solid orange;
  border-radius: 50%;
  opacity: 0.8;
}

#linkTo {
  color: darkgray;
}

#linkTo:hover {
  color: orange;
  text-decoration: none;
  font-weight: bold;
}

.gallery {
  position:relative;
  top: 20px;
}

.myProjects img {
  padding: 3px;
}

.myProjects img:hover {
  border: 3px solid orange;
  border-radius: 7px;
  padding: 0;
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: relative;
  top: 40%;
  width: auto;
  padding: 2px 16px;
  margin-top: -50px;
  margin-right: 120px;
  margin-left: 120px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 7px;
}

.next {
  right: 0;
  border-radius: 7px;
}

.prev:hover,
.next:hover {
  background-color: orange;
  opacity: 0.6;
}

.numbertext {
  color: gray;
  font-size: 12px;
  position: relative;
  top: 180px;
}

.caption-container {
  text-align: center;
  background-color: gray;
  color: white;
  border-radius: 5px;
  opacity: 0.5;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 16.66%;
}

.demo {
  opacity: 0.3;
  max-width: 50%;
  max-height: 50%;
}

.active,
.demo:hover {
  opacity: 1;
  cursor: pointer;
  border: 1px solid orange;
  border-radius: 5px;
}

form {
  margin: auto;
  margin-top: 40px;
  width: 500px;
  padding: 1em;
  border: 1px solid orange;
  border-radius: 2em;
}

form div + div {
  margin-top: 1em;
}

label {
  display: inline-block;
  text-align: left;
  width: 80px;
}

input, textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid gray;
}

input:focus, textarea:focus {
  border-color: gray;
}

textarea {
  vertical-align:top;
  height: 4em;
}

button {
  border-radius: 10px;
  color: white;
  background-color: lightgray;
  cursor: pointer;
  padding: 4px 5px;
  margin-top: 10px;
}

button:hover {
  color: black;
  background-color: orange;
}

table {
  vertical-align: middle;
  text-align: left;
  margin-top: 3em;
}

.tdate {
  text-align: right;
  font-style: italic;
  padding-left: 6em;
}

#footer {
  background-color: lightgray;
  border-bottom: solid 3px white;
  color: gray;
  width: 100%;
  text-align: left;
  padding: 20px 20px;
  float:left;
  height: 60px;
  margin: 0;
}

#topbutton {
  color: gray;
  cursor: pointer;
  float:right;
  margin-right: 30px;
}

#topbutton:hover {
  box-shadow: 0 3px orange;
  text-decoration: none;
  color: orange;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}
