.container-fluid{
    padding-left: 0rem;
    padding-right: 0rem;
    overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
}

section {
  min-height: 100vh -65px;
}

#menu ul {
  list-style: none;
  padding-top:10px;
  background-color: rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 50px;
  top: 0;
  position: absolute;
}

#menu li {
  transition: all 0.8s;
  display: inline;
  box-sizing: border-box;
  padding: 10px 40px 0 40px;
  margin: 0 10px 30px 10px;
  font-size: 20px;
  color: black;
  opacity: 0.8;
}

li a:hover {
  box-shadow: 0 3px orange;
  text-decoration: none;
  color: orange;
}

li a {
  color:black;
}

#cover {

  width: 100%;
  opacity: 0.5;
  position: relative;
  border-bottom: solid 3px rgba(255, 165, 0, 1);

}

.image {
  position: relative;
  width: 100%;
}

.name {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 230px;
  color: black;
  font-weight: bold;
  opacity: 0.8;
}

.title {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 300px;
  color: black;
  opacity: 0.8;
}

#libutton {
  position: absolute;
  align-items: center;
  height: 100px;
  width: 100px;
  top: 370px;
  left: 46.5%;
  cursor: pointer;
  margin: 0;
}

#libutton:hover {
  background-color: orange;
  border-radius: 100%;
  font-weight: bold;
  opacity: 0.8;
}

#ghbutton {
  position: absolute;
  align-items: center;
  height: 100px;
  width: 100px;
  top: 530px;
  left: 46.5%;
  cursor: pointer;
  margin: 0;
}

#ghbutton:hover {
  background-color: orange;
  border-radius: 100%;
  font-weight: bold;
  opacity: 0.8;
}

#cvbtn {
  position: absolute;
  align-items: center;
  top: 710px;
  left: 46.5%;
  margin: 0;
  cursor: pointer;
  background-color: black;
  color: white;
  border-radius:1em;
  padding: 6px 7px;
  opacity: 0.6;
  border: 1px solid gray;

}

#cvbtn:hover {
  background-color: orange;
  border: 1px solid orange;
  color: black;
  font-weight: bold;
  opacity: 1;
}

.background1 {
  background-color: lightgray;
  border-bottom: solid 3px rgba(255, 165, 0, 0.5);
  width: 100%;
  height: 450px;
  padding: 20px 60px 20px 60px;
  color: black;
}

.background2 {
  background-color: white;
  border-bottom: solid 3px rgba(255, 165, 0, 0.5);
  width: 100%;
  height: 450px;
  padding: 20px;
  padding: 20px 60px 20px 60px;
  color: black;
}

.text {
  padding: 20px 100px 20px 100px;
}

#linkTo {
  color: lightgray;
}

#linkTo:hover {
  color: orange;
  text-decoration: none;
  font-weight: bold;
}

.gallery {
  position:relative;
  top: 20px;
}

.myProjects img {
  padding: 3px;
}

.myProjects img:hover {
  border: 3px solid orange;
  padding: 0;
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: relative;
  top: 40%;
  width: auto;
  padding: 2px 16px;
  margin-top: -50px;
  margin-right: 120px;
  margin-left: 120px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 7px;
}

.next {
  right: 0;
  border-radius: 7px;
}

.prev:hover,
.next:hover {
  background-color: orange;
  opacity: 0.6;
}

.numbertext {
  color: gray;
  font-size: 12px;
  position: relative;
  top: 180px;
}

.caption-container {
  text-align: center;
  background-color: gray;
  color: white;
  border-radius: 5px;
  opacity: 0.5;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 16.66%;
}

.demo {
  opacity: 0.3;
  max-width: 50%;
  max-height: 50%;
}

.active,
.demo:hover {
  opacity: 1;
  cursor: pointer;
}

form {
  margin: auto;
  margin-top: 40px;
  width: 500px;
  padding: 1em;
  border: 1px solid orange;
  border-radius: 2em;
}

form div + div {
  margin-top: 1em;
}

label {
  display: inline-block;
  text-align: left;
  width: 80px;
}

input, textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid gray;
}

input:focus, textarea:focus {
  border-color: gray;
}

textarea {
  vertical-align:top;
  height: 4em;
}

button {
  border-radius: 10px;
  color: white;
  background-color: lightgray;
  cursor: pointer;
  padding: 4px 5px;
  margin-top: 10px;
}

button:hover {
  color: black;
  background-color: orange;
}

table {
  text-align: left;
  margin-top: 20px;
}

th {
  padding: 2em;
}

.tdate {
  text-align: right;
  font-style: italic;
  padding-left: 6em;
}

#footer {
  background-color: lightgray;
  border-bottom: solid 3px white;
  color: gray;
  width: 100%;
  text-align: left;
  padding: 20px 20px;
  float:left;
  height: 60px;
  margin: 0;
}

#topbutton {
  color: gray;
  cursor: pointer;
  float:right;
  margin-right: 30px;
}

#topbutton:hover {
  box-shadow: 0 3px orange;
  text-decoration: none;
  color: orange;
}
